body{
    background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
}
.weather-app{
    border: black solid 2px;
    border-radius: 6px;
    padding: 40px;
    padding-top: 40px;
    font-family: 'Overlock', cursive;
    background: white;
}
#place, #date{
    color: rgb(78, 73, 73);
}
.temp{
    font-size: larger;
}

.days{
    font-size: large;
}
#temperature{
    font-size: 90px;
}
li{
    list-style: none;
}
ul{
    position: relative;
    top: 40px;
}
.units{
    position: relative;
    top: -50px;
    font-size: 20px;
}
.weekly-forecast{
    border: rgb(16, 138, 209) dotted 5px;
    border-radius: 6px;
    margin-top: 20px;
    padding: 20px;
}
/* .units a{
    text-decoration: none;
}
.units .active{
    color: black;
    text-decoration: none;

}
.units .active:hover{
    color: black;
    text-decoration: none;
}
 */