body{
    
}
#place, #date{
    color: rgb(78, 73, 73);
}
.temp{
    font-size: larger;
}

.days{
    font-size: large;
}
#temperature{
    font-size: 90px;
}
li{
    list-style: none;
}
ul{
    position: relative;
    top: 40px;
}
.units{
    position: relative;
    top: -50px;
    font-size: 20px;
}
/* .units a{
    text-decoration: none;
}
.units .active{
    color: black;
    text-decoration: none;

}
.units .active:hover{
    color: black;
    text-decoration: none;
}
 */